a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;color:0033CC;}
a:active{text-decoration:none;}

/*	public 公用 */

.header,
.fn-clear{+zoom:1;}
.header:before,
.header:after,
.fn-clear:before,
.fn-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/* 公用背景图 */
.btn,
/*
.bg{background-image:expression(url('+getlocation()+'theme/t1/20110712.gif));background-color:transparent;background-repeat:no-repeat}

.bg{background-image:url(../theme/t1/20110712.gif);background-color:transparent;background-repeat:no-repeat}
*/


.btn-1-no{padding:0;border:0;width:397px;height:106px;_height:106px;margin-right:0px;background-position:0 -1165px;cursor:pointer}
.btn-1{padding:0px;border:0px;width:397px;height:106px;_height:106px;margin-right:0px;background-position:-0px -0px;cursor:pointer}
.btn-1 span{visibility:hidden}
.btn-1-hover,
.btn-1:hover{background-position:-0px -114px}

.btn-2-no{padding:0;border:0;width:408px;height:103px;_height:103px;margin-right:0px;background-position:-0px -1280px;cursor:pointer}
.btn-2   {padding:0;border:0;width:408px;height:103px;_height:103px;margin-right:0px;background-position:-0px -230px;cursor:pointer}
.btn-2 span{visibility:hidden}
.btn-2-hover,
.btn-2:hover{background-position:-0px -341px}

.btn-3-no{padding:0;border:0;width:408px;height:94px;_height:94px;margin-right:0px;background-position:-0px -1394px;cursor:pointer}
.btn-3   {padding:0;border:0;width:408px;height:94px;_height:94px;margin-right:0px;background-position:-0px -459px;cursor:pointer}
.btn-3 span{visibility:hidden}
.btn-3-hover,
.btn-3:hover{background-position:-0px -566px}

.btn-4-no{padding:0;border:0;width:422px;height:105px;_height:105px;margin-right:0px;background-position:-0px -1625px;cursor:pointer}
.btn-4   {padding:0;border:0;width:422px;height:105px;_height:105px;margin-right:0px;background-position:-0px -920px;cursor:pointer}
.btn-4 span{visibility:hidden}
.btn-4-hover,
.btn-4:hover{background-position:-0px -1047px}

.btn-5-no{padding:0px;border:0px;width:421px;height:110px;_height:110px;margin-right:0px;background-position:-0px -1503px;cursor:pointer}
.btn-5   {padding:0px;border:0px;width:421px;height:110px;_height:110px;margin-right:0px;background-position:-0px -672px;cursor:pointer}
.btn-5 span{visibility:hidden}
.btn-5-hover,
.btn-5:hover{background-position:-0px -792px}

form{
	margin:0;
}
select{ 
	font-size:12px;  
	color:5B553E;
	width:100%;
	height:16px;
}
input{
	font-size:12px;
	padding:2px 1px 0 2;	
	
}
.text_12{
	font:12px;
	text-decoration: none; 
}
.text_14{
	font:14px;
	text-decoration: none; 
}
.text_36{
	font-size:36px;
	text-decoration: none; 
}
.text_12_readonly{
	font:12px;
	background:cccccc;
	text-decoration: none; 
}
.s1{
	font-size:1px;
	font-weight:normal;
	line-height:normal;
}
.s4{
	font-size:4px;
	font-weight:normal;
	line-height:normal;
}
.s8{
	font-size:8px;
	font-weight:normal;
	line-height:normal;
}
/* font color*/
.text_black{
	color:black;
}
.text_white{
	color:white;
}
.text_red{
	color:#ff0000;
		/*color:#0033FF;*/
}
.text_red{

}
.text_blue{
	color:#0066cc;
}
.text_gre{
	color:#cde8f1;
	/*color:#009999;*/
}
/*灰底readonly 格式*/
.text_gray{
	border:1px solid #cccccc;
	background-color:#eeeeee;
	/*color:#009999;*/
}
.text_bold{
	font-weight:bold;
}
.text_height{
	height:21px;
}
.text_font{
	font-family:Tahoma,Arial;
}
.text_num{
	font:12px;
	border:expression(this.type=="text"?"1px solid #":"style");
	ime-mode:disabled;
}
.text_readonly{
	background-color:#D9D9D9;
}

.move_hand{
	cursor:hand;
}
.tr_color_1{
	background:#cde8f1;
}
.tr_color_2{
	background:#F1F9FC;
}
.tr_color_3{
	background:#F6F6F6;
}


/* for input_text_sytle */
.text_size_10{
    width:10px;
}
.text_size_20{
    width:20px;
}
.text_size_25{
    width:25px;
}
.text_size_30{
    width:30px;
}
.text_size_35{
    width:35px;
}
.text_size_40{
    width:40px;
}
.text_size_45{
    width:45px;
}
.text_size_50{
    width:50px;
}
.text_size_60{
    width:60px;
}
.text_size_70{
    width:70px;
}
.text_size_80{
    width:80px;
}
.text_size_90{
    width:90px;
}
.text_size_100{
    width:100px;
}
.text_size_110{
    width:110px;
}
.text_size_120{
    width:120px;
}
.text_size_130{
    width:130px;
}
.text_size_140{
    width:140px;
}
.text_size_150{
    width:150px;
}
.text_size_200{
    width:200px;
}
.text_size_220{
    width:220px;
}
.text_size_250{
    width:250px;
}
.text_size_300{
    width:300px;
}
.text_size_350{
    width:350px;
}
.text_size_400{
    width:400px;
}
.text_size_450{
    width:450px;
}
.text_size_500{
    width:500px;
}
.text_size_550{
    width:550px;
}
.text_size_600{
    width:600px;
}
.text_size_650{
    width:650px;
}
.text_size_90w{
    width:90%;
}
.text_nobord{
	text-decoration: none; 
	border:0px solid #fff;
	font:12px;
	background-color:transparent;
	padding:0px 5px 0px 0px;
}
.text_nobord_yellow{
	text-decoration: none; 
	border:0px solid #fff;
	font:12px;
	background-color:#FFFF00
}
.text_bg_yellow{
	background-color:#FFFF00
}
.text_nobord2{
	text-decoration: none; 
	border:0px solid transparent;
		text-align:center;
	background-color:transparent
}
.text_noline{
	text-decoration: none; 
}
.input_text_left {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
		border-top-color: abadb3;
	border-bottom-color: e3e9ef;
	border-left-color: e2e3ea;
}
.input_text_right {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: abadb3;
	border-bottom-color: e3e9ef;
	border-right-color: e2e3ea;
}
.input_text_mid {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
}
.input_text_all {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
/*	for list page	*/
.page{
	font:12px;
	font-weight:bold;
	color:black;
	background:#cccccc;
	height:24px;
}
.list_page{
	font-size:28px;
	font-weight:bold;
	color:black;
	background:#cccccc;
	height:24px;
}
/*top*/
.top_table{
	background-image:expression('url('+getlocation()+'theme/style/top.jpg)');
	width:100%;
	height:110px;
}
.top_img{
	/*background-image:expression('url('+getlocation()+'theme/blue/drv_top.jpg)');*/
	font:12px;
	color:write;
	width:880;
	height:85px;
}

.interface_top_menu{
	width:100%;
	height:29px;
}
.interface_top_menu_spacer{
}
.interface_top_0{
	width:99px;
	color:white;
	text-align:center;
	cursor:hand;
	font:12px;
	padding-top:7px;	
}
.interface_top_1{
	width:99px;
	text-align:center;
	cursor:hand;
	font:12px;
	padding-top:7px;
	background:#ccff00;
	color:#000000;
	/*filter: Alpha(opacity=80);    
   -moz-opacity:.1;    
   opacity:0.1;   
		*/
}
.interface_top_fold_exchange_close{
	width:99px;
	height:30px;
	color:white;
	text-align:center;
	cursor:hand;
	font:14px;
	padding-top:7px;
	background-image:expression('url('+getlocation()+'theme/blue/interface_top_fold_exchange_close.gif)');		
}

.interface_top_fold_exchange_open{
	width:99px;
	height:30px;
	color:white;
	text-align:center;
	cursor:hand;
	font:14px;
	font-weight:bold;
	padding-top:7px;
	background-image:expression('url('+getlocation()+'theme/blue/interface_top_fold_exchange_open.gif)');	
}
/*内容列表*/
.detail_center{
	font:12px;
	color:#0181e3;
	background:e5f7fd;
	text-align:center;
	height:20px;
}
.detail_table{
	width:98%;
	background:666666;
	text-align:center;
}
.detail_head{
	font-size: 32px;
	color:white;
	background:72AFCA;
	text-align:center;
		font-weight:bold;
	padding:2px 10px 2px 4px;
/*	text-align:right;*/
	height:30px;
}

.detail_body{
	font:12px;
	color:black;
	padding:2px 4px 2px 4px;
	background:F2F4F6;
}
.list_body_over{
	font:12px;
	background:FFff33;
	padding:2px 5px 0 5px;
	height:23px;
	color:black;
	word-break:break-all;
}
.list_body_one{
	background:#E8F5FF;
	font:12px;
	height:20px;
	padding:2px 0 0 5px;
}
.list_body_tr_1{
	font-size: 32px;
	background:ccdde0;
	padding:2px 5px 0 5px;
	height:23px;
	word-break:break-all;
}
.list_body_tr_2{
	font-size: 32px;
	background:fafafa;
	padding:2px 5px 0 5px;
	height:23px;
	word-break:break-all;
}

/*	for button  按钮	*/

.button{
BORDER-RIGHT: #002D96 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP:#002D96 1px solid;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
/*background: #66ffff;
background-image:expression('url('+getlocation()+'theme/style/shade.png)');
background-position: bottom;
*/

 	FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF, EndColorStr=#9DBCEA);

BORDER-LEFT: #002D96 1px solid;
CURSOR: hand; COLOR: black;
PADDING-TOP: 2px;
BORDER-BOTTOM: #002D96 1px solid
}


.button_close{
BORDER-RIGHT: #002D96 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP:#002D96 1px solid;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF, EndColorStr=#9DBCEA);
BORDER-LEFT: #002D96 1px solid;
CURSOR: hand; COLOR: black;
PADDING-TOP: 2px;
BORDER-BOTTOM: #002D96 1px solid
}
.button_query{
BORDER-RIGHT: #002D96 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP:#002D96 1px solid;
PADDING-LEFT: 2px;
FONT-SIZE: 12px;
FILTER:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFFFF, EndColorStr=#9DBCEA);
BORDER-LEFT: #002D96 1px solid;
CURSOR: hand; COLOR: black;
PADDING-TOP: 2px;
BORDER-BOTTOM: #002D96 1px solid
}

.Search_table{
	width:98%;
	background:666666;
	text-align:center;
}
.list_table{
	width:98%;
	background:cccccc;
	padding:2px 0 0 0;
}
.list_div_table{
	width:98%;
	background:72AFCA;
	padding:2px 0 0 0;
	
}
.list_head{
	background:e5f7fd;
	font:12px;
	height:23px;
	padding:2px 0 0 5px;
	color:0181e3;
}
.serch_head{
	background:f7f7f7;
	font:12px;
	height:23px;
	width:12%;
	padding:2px 0 0 5px;
}

.list_headleft{
	background:f7f7f7;
	font:12px;
	height:23px;
	text-align:left;

}

.list_headrig{
	background:e5f7fd;
	font:12px;
	height:23px;
	text-align:right;
	padding:2px 5px 0 5px;
	color:0181e3;
}
.list_headrig_red{
	background:e5f7fd;
	font:12px;
	height:23px;
	text-align:right;
	padding:2px 0 0 5px;
	color:0181e3;
}
.list_link_1{	
	font:12px;
	height:20px;
	text-align:right;
	padding:2px 0 0 5px;
	color:339900;
}
.list_link_2{	
	font:12px;
	height:20px;
	text-align:right;
	padding:2px 0 0 5px;
	color:red;
}
.list_body_out{
	font:12px;
	background:#F7F7F7;
	padding:2px 5px 0 5px;
}

.list_body_left{
	font:12px;
	background:#F7F7F7;
	padding:2px 5px 0 5px;
	text-align:left;	
}
.serch_head{
	background:f7f7f7;
	font:12px;
	height:20px;
	width:12%;
	padding:2px 0 0 5px;
}
.vio_main_01 {
	background-image:expression('url('+getlocation()+'theme/blue/vio_main_r3_c8.jpg)');
	font:12px;
	}
.vio_main_02 {
	background-image:expression('url('+getlocation()+'theme/blue/vio_main_r3_c7.jpg)');
	font:12px;
	}
.vio_tit_0 {
	background-image:expression('url('+getlocation()+'theme/blue/main_t1_c2.jpg)');
		font:12px;
		padding-top: 10px;
	}	
.vio_tit_1 {
	background-image:expression('url('+getlocation()+'theme/blue/main_t1_c3.jpg)');
		font:12px;
		padding-top: 10px;
	}	
	
.show_div_0{
	background-image:expression('url('+getlocation()+'theme/blue/open.png)');
	}
.show_div_1{
	background-image:expression('url('+getlocation()+'theme/blue/close.png)');
	}
.login_input {
	font-size: 12px;
	text-decoration: none;
	background:transparent;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000000;
}
	
.table_line {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}

