<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>汽车电子标识发行管理系统</display-name>
	<context-param>
		<param-name>version</param-name>
		<param-value>1.0.1</param-value>
	</context-param>
	<context-param>
		<param-name>versiondate</param-name>
		<param-value>2016-05-30</param-value>
	</context-param>
	<context-param>
		<description>1:zhidui,2:zongdui,3:gonganbu</description>
		<param-name>systype</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
              /WEB-INF/configuration/appCoreContext.xml
	    </param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ajaxRequestFilter</filter-name>
		<filter-class>com.tmri.rfid.filter.AjaxRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ajaxRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
   		<filter-name>checkLoginFilter</filter-name>
   		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
 	</filter>
 	<filter-mapping>
   		<filter-name>checkLoginFilter</filter-name>
   		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>  
		<servlet-name>frm</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param> 
				<param-name>contextConfigLocation</param-name>
				<param-value>
					/WEB-INF/configuration/appMvcContext.xml
				</param-value>
			</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>frm</servlet-name>
		<url-pattern>*.vmc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frm</servlet-name>
		<url-pattern>*.frm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frm</servlet-name>
		<url-pattern>*.tfc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frm</servlet-name>
		<url-pattern>*.rfid</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener> 
		<listener-class>com.tmri.framework.ctrl.SessionListener</listener-class>
	</listener>
	<listener> 
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>sctrl</servlet-name>
		<servlet-class>com.tmri.framework.ctrl.SCtrl</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>  	   	 
  		<display-name>Proxy</display-name>
  		<servlet-name>Proxy</servlet-name>	
		<servlet-class>com.easymap.ezserver.proxy6.ProxyServlet</servlet-class>
			<init-param>
				<param-name>Debug</param-name>
				<param-value>true</param-value>
			</init-param>
	</servlet>  
  	<servlet-mapping>
		<servlet-name>Proxy</servlet-name>
		<url-pattern>/Proxy</url-pattern>
	</servlet-mapping>	
	
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/taglib1.1/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/taglib1.1/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/taglib1.1/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt </taglib-uri>
			<taglib-location>/WEB-INF/taglib1.1/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/taglib1.1/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://5.tmri.cn/tag/h</taglib-uri>
			<taglib-location>/WEB-INF/taglib1.1/h.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
